:root {
    --background-md-light: #3F4F50;
    --background-md-dark: #2D3839;
    --background-light: #637C7E;
    --background-light-hover: #6d8586;
    --background-dark: #242D2D;
    --dropdown-text-color: #3F4F50;
    --dropdown-background: #BBB4CF;
    --base-text-color: #DDDAE7;
    --placeholder-text-color: #9A8FB7;
    --button-text-color: #DDDAE7;
    --date-text-color: #BCB4CF;
}

body {
    background-color: var(--background-md-light);
    color: var(--base-text-color);
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    font-weight: 100;
}

header h1 {
    display: block;
    margin: 80px auto 50px auto;
    width: fit-content;
    font-size: 40px;
}



/* need to position this to get dropdown */
.search-content {
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

/* flexbox container for search form */
.search-form {
    display: flex;
    width: 750px;
    margin: 10px auto 0 auto;
    justify-content: space-between;
}

#searchBarContent {
    display: block;
    width: 550px;
    padding: 10px 18px;
    border: none;
    height: 20px;
    border-radius: 20px;
    font-family: "Inter", sans-serif;
}

/* change placeholder text in form cell */
#searchBarContent::placeholder {
    color: var(--placeholder-text-color);
    opacity: 1; /* for firefox */
}

/* ::placeholder doesn't work in Edge */
#searchBarContent::-ms-input-placeholder {
    color: var(--placeholder-text-color);
}

/* change text color of user input */
input[type="text"] {
    color: var(--background-dark);
    font-size: 16px;
}

/* remove border when form cell is active */
input:focus {
    outline: none;
}

#submitBtn {
    width: 100px;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    background-color: var(--background-light);
    color: var(--button-text-color);
    font-family: "Inter", sans-serif;
}

#submitBtn:hover {
    cursor: pointer;
    background-color: var(--background-light-hover);
}

/* positions dropdown directly beneath search bar */
.history-dropdown {
    display: none; /* will change with JS when search bar is focused */
    position: absolute;
    background-color: var(--dropdown-background);
    color: var(--dropdown-text-color);
    border-radius: 20px;
    padding: 10px 0;
    width: 586px;
    box-shadow: -8px 8px 16px 0px rgba(0,0,0,0.2);
}

.history-dropdown li {
    padding: 10px 20px;
}

/* helps user know these are links */
.history-dropdown li:hover {
    text-decoration: underline;
    font-weight: 600;
    cursor: pointer;
}

/* use with JS to show dropdown when search bar is focused */
.show {
    display: block;
}