:root {
    --background-md-light: #3F4F50;
    --background-md-dark: #2D3839;
    --background-light: #637C7E;
    --background-light-hover: #6d8586;
    --background-dark: #242D2D;
    --dropdown-text-color: #3F4F50;
    --dropdown-background: #BBB4CF;
    --base-text-color: #DDDAE7;
    --placeholder-text-color: #9A8FB7;
    --placeholder-invalid-text-color: #cf8989;
    --button-text-color: #DDDAE7;
    --button-invalid-background-color: #9c6969;
    --date-text-color: #BCB4CF;
}

body {
    background-color: var(--background-md-light);
    color: var(--base-text-color);
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    font-weight: 100;
}

/* ---------- title ---------- */

header h1 {
    display: block;
    margin: 80px auto 50px auto;
    width: fit-content;
    font-size: 40px;
}

/* ---------- search bar and dropdown ---------- */

.search-content {
    position: relative;/* need to position this to get dropdown */
    width: fit-content;
    margin: 0 auto;
}

/* flexbox container for search form */
.search-form {
    display: flex;
    width: 750px;
    margin: 10px auto 0 auto;
    justify-content: space-between;
}

#searchBarContent {
    display: block;
    width: 550px;
    padding: 10px 18px;
    border: none;
    height: 20px;
    border-radius: 20px;
    font-family: "Inter", sans-serif;
    background-color: var(--base-text-color);
}

/* change placeholder text in form cell */
#searchBarContent::placeholder {
    color: var(--placeholder-text-color);
    opacity: 1; /* for firefox */
}

/* ::placeholder doesn't work in Edge */
#searchBarContent::-ms-input-placeholder {
    color: var(--placeholder-text-color);
}

.invalid-search::-webkit-input-placeholder {
    color: var(--placeholder-invalid-text-color)!important;
}

.invalid-search::-ms-input-placeholder {
    color: var(--placeholder-invalid-text-color)!important;
}

/* change text color of user input */
input[type="text"] {
    color: var(--background-dark);
    font-size: 16px;
}

/* remove border when form cell is active */
input:focus {
    outline: none;
}

#submitBtn {
    width: 100px;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    background-color: var(--background-light);
    color: var(--button-text-color);
    font-family: "Inter", sans-serif;
    backface-visibility: hidden;
    perspective: 1000px;
}

#submitBtn:hover {
    cursor: pointer;
    background-color: var(--background-light-hover);
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
}

.error-msg {
    display: inline-block;
}

/* positions dropdown directly beneath search bar */
.history-dropdown {
    display: none; /* will change with JS when search bar is focused */
    position: absolute;
    background-color: var(--dropdown-background);
    color: var(--dropdown-text-color);
    border-radius: 20px;
    padding: 10px 0;
    width: 586px;
    box-shadow: -8px 8px 16px 0px rgba(0,0,0,0.2);
}

.history-dropdown li {
    padding: 10px 20px;
}

/* helps user know these are links */
.history-dropdown li:hover {
    text-decoration: underline;
    font-weight: 600;
    cursor: pointer;
}

/* ---------- weather data ---------- */

/* all icon styles */
.icon {
    background-image: url("http://openweathermap.org/img/wn/10d@4x.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-lg {
    width: 120px;
    height: 120px;
    margin-right: 10px;
}

.icon-sm {
    width: 80px;
    height: 80px;
    margin-right: 17px
}

/* big flex container to hold both forecasts separately */
.weather-content {
    display: none;
    width: 1350px;
    justify-content: space-between;
    margin: 50px auto;
}


/* ---------- today's data ---------- */

.today-content {
    display: block;
    width: 30%;
    height: 600px;
    background-color: var(--background-md-dark);
    border-radius: 20px;
}

/* flex container to hold the header text and the image */
.today-header-flex {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 10px auto;
    padding: 10px;
}

.today-header-text-container {
    margin-left: 30px;
    color: var(--date-text-color);
}

.today-header-text-container h2 {
    font-weight: bold;
    font-size: 32px;
    margin: 20px 0;
}

.today-header-text-container h3 {
    font-size: 16px;
}

.today-info {
    margin-left: 40px;
    font-size: 32px;
    line-height: 60px;
}

.today-current-temp {
    font-size: 48px;
    font-weight: bold;
}

/* ---------- this week's data ---------- */

.forecast-content-flex {
    display: flex;
    flex-flow: row wrap;
    width: 70%;
    margin-left: 10px;
}

.forecast-card {
    background-color: var(--background-dark);
    height: 290px;
    width: 30%;
    margin: 0px 10px 20px;
    border-radius: 20px;
}

.forecast-header-flex {
    display: flex;
    width: 85%;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 0 37px;
}

.forecast-header-text-container {
    color: var(--date-text-color);
}

.forecast-header-text-container h4 {
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: bold;
}

.forecast-header-text-container h5 {
    margin-left: 2px;
}

.forecast-card-info {
    margin-left: 37px;
    font-size: 20px;
    line-height: 40px;
}

/* use with JS to show the dropdown */
.show-dd {
    display: block;
}

/* use with JS to show the weather content */
.show-w {
    display: flex;
}

@keyframes btn-invalid {
    0% {
        background-color: var(--button-invalid-background-color);
        transform: translate3d(0, 0, 0);
    }

    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(1px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-2px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(2px, 0, 0);
    }

    100% {
        background-color: var(--background-light);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bar-invalid {
    from {
        background-color: var(--button-invalid-background-color);
    }

    to {
        background-color: var(--background-light);
    }
}